<!DOCTYPE html>

<html>
    <head>
        <title>PhoneBook</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../lib/css/bootstrap-theme.css" type="text/css"/>
        <script src="../controllers/AbonentController.js"></script>
        <script src="../controllers/AdminController.js"></script>
        <script src="../controllers/PhoneNumberController.js"></script>
        <script src="../service/AbonentService.js"></script>
        <script src="../service/AdminService.js"></script>
        <script src="../service/PhoneNumberService.js"></script>
        <script>
         function insertAbonent(){
                var controller = new AbonentController();
                var controller2 = new PhoneNumberController();
                var abonentService = new AbonentService();                
                var abonent={};
                var phonenumber={};
                var fn = document.form1.firstName.value;
                var ln = document.form1.lastName.value;
                var pt = document.form1.patronymic.value;
                var pn = document.form1.phoneNum.value;
                        if ((fn == "") || (ln == "") || (pt == "") || (pn == ""))
                        {
                            alert("Введите все данные");
                        } else {
                            abonent.firstName = fn;
                            abonent.lastName = ln;
                            abonent.patronymic = pt;
                            var json = JSON.stringify(abonent);
                            controller.insertAbonent(json);
                            var array = abonentService.getAllAbonent();
                            for (var i = 0; i < array.length; i++) {
                                if ((array[i].lastName == ln) && (array[i].firstName == fn) && (array[i].patronymic == pt)) {
                                    var check=1;
                                    phonenumber.abonentId = array[i].id;
                                }
                              }
                              if(check==1){
                            phonenumber.phoneNum = pn;
                            var json2 = JSON.stringify(phonenumber);
                            controller2.insertPhoneNumber(json2);
                            alert("Абонент добавлен");
                            document.form1.firstName.value="";
                            document.form1.lastName.value="";
                            document.form1.patronymic.value="";
                            document.form1.phoneNum.value="";                           
                            }
                            else alert("Что-то не так");                        
            }
        }
        function loginClick()
            {   var button = "<button class='btn pull-right' type='button' onclick='logoutClick()'>Logout</button>";
                var check=0;
                var adminService = new AdminService(); 
                var array = adminService.getAllAdmin();
                var login = document.form2.login.value;
                var pass = document.form2.pass.value;
                for (var i = 0; i < array.length; i++) {
                    if ((array[i].login == login) && (array[i].password == pass)) {
                       check = 1;
                    }
                }
                if(check==1){
                    alert("Вход выполнен"); 
                    document.cookie = "login=" + login+";path=/";
                    document.cookie = "password=" + pass+";path=/";
                    document.getElementById('inputlogin1').style.display = 'none';
                    document.getElementById('inputpass1').style.display = 'none';
                    var element = document.getElementById("logBut1");
                    element.innerHTML = button;
                }
                else if((login=="")||(pass=="")){alert("Введите логин и пароль!");}
                else{alert("Вход не выполнен. Проверьте введенные данные!");}
            }
            function logoutClick()
            {
               document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
                location.reload();
            }
        </script>
    </head>
    <body  style="background-image: url(/Phonebook/images/subtle.png);margin-left: -16px">
        <div class="container">
            <div class="row" style="background-color: white; width:1200px">
                <div class="span12"  style="background-color: white; width: 1150px;">
                    <div class="head">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <h1 class="muted">PHONEBOOK</h1>
                                </div>

                                <form  name="form2" style="margin-right: -50px;">
                                <div class="span4 offset2" style="margin-top:15px;" id="logBut1">
                                    <input id="inputlogin1" name="login" type="text" placeholder="login" class="input-small" style="width: 140px;height: 29px;">
                                    <input id="inputpass1" name="pass" type="text" placeholder="password" class="input-small" style="width: 140px;height: 29px;">
                                    <button class="btn pull-right" type="button" onclick="loginClick()">Sign In</button>                                    
                                </div>
                                   </form>
                            </div>
                        </div>

                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">
                                    <ul class="nav">
                                        <li>
                                            <a href="/Phonebook/index_1.html">Главная</a>
                                        </li>
                                        <li>
                                            <a href="/Phonebook/view/add.html">Добавить</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color: white; width:1200px;height: 512px;margin-top: 10px;">
            <div class="row">

                <div  class="span2" style="padding-bottom: 30px;"></div>
                <form class="form-horizontal" name="form1">
                    <fieldset style="width: 60%;">

                        <legend style="background-color:#f7f7f7;margin-left: 50px;padding-left: 20px;width: 1140px">Данные абонента</legend>
                        <div style="margin-left: 200px;margin-right: 400px;" class="form-control-static">
                            <label class="col-md-4 control-label" for="textinput">Фамилия</label>  
                            <div class="col-md-4">
                                <input style="width: 200px;" id="textinput" name="lastName" placeholder="Иванов" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div style="margin-left: -30px;" class="form-control-static">
                            <label class="col-md-4 control-label" for="textinput">Имя</label>  
                            <div class="col-md-4">
                                <input style="width: 200px;" id="textinput" name="firstName" placeholder="Иван" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div style="margin-left: 200px;margin-right: 400px;" class="form-control-static"><br>
                            <label class="col-md-4 control-label" for="textinput">Отчество</label>  
                            <div class="col-md-4">
                                <input style="width: 200px;" id="textinput" name="patronymic" placeholder="Иванович" class="form-control input-md" required="" type="text">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div style="margin-left: 10px;" class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Номер телефона</label>  
                            <div class="col-md-4">
                                <input style="width: 200px;" id="textinput" name="phoneNum" placeholder="8-888-888-88-88" class="form-control input-md" required="" type="text">

                            </div>
                        </div>
                        <!-- Button (Double) -->
                        <div style="margin-left: 200px;" class="form-group">
                            <label class="col-md-4 control-label" for="save"></label>
                            <div class="col-md-8">
                                <button id="save" type="button" onclick="insertAbonent();" name="save" class="btn btn-success">Сохранить</button>
                                <a href="/Phonebook/index_1.html" role="button" id="cancel" name="cancel" class="btn btn-danger">Отмена</a>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
        <!--  ================================================== -->
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <script>
            window.onload = function ()
                {
                var login = getCookie("login");
                var pass = getCookie("password");
                var button = "<button class='btn pull-right' type='button' onclick='logoutClick()'>Logout</button>";
                var check=0;
                var adminService = new AdminService(); 
                var array = adminService.getAllAdmin();
                for (var i = 0; i < array.length; i++) {
                    if ((array[i].login == login) && (array[i].password == pass)) {
                       check = 1;
                    }
                }
                if(check==1){
                    document.getElementById('inputlogin1').style.display = 'none';
                    document.getElementById('inputpass1').style.display = 'none';
                    var element = document.getElementById("logBut1");
                    element.innerHTML = button;
                }
                }
                function getCookie(name) {
                var r = document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
                if (r) return r[2];
                else return "";
                }
        </script>
    </body>
</html>